.grid {
 display: grid;
 grid-template-columns: repeat(4,1fr);
 grid-gap: 10px;
 grid-template-areas: 
 'head head head head'
 'sect1 sect1 sect1 sect2'
 'sect1 sect1 sect1 sect2'
 'sect3 sect3 sect4 sect4'
 'sect3 sect3 sect4 sect4'
 
 ;

}
.container {
  max-width: 100vw;
  height: 100vh;
  border: black dotted;
}

.container > * {
  background-color: lightcoral;
}


.he {
  grid-area: head;
}

.section1 {
  grid-area: sect1;
}
.section2 {
  grid-area: sect2;
}
.section3 {
  grid-area: sect3;
}
.section4 {
  grid-area: sect4;
}